.container{
    width: 95%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    text-align: center;
}
.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: changeColor 7.25s infinite alternate;
}
.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
}
/* @keyframes changeColor{
    0%{
        color:indigo ;
    }
    20%{
        color:blue ;
    }
    40%{
        color:greenyellow ;
    }
    60%{
        color:orangered ;
    }
    80%{
        color:palevioletred ;
    }
    100%{
        color:navajowhite ;
    }
} */

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}