.copyright{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social a{
        color: #444;
        padding: 10px;
        font-size: 21px;
        
    }    
}