$main-color: #fe5b3d;

.home{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(Car\ Website.png);
    background-repeat: no-repeat;
    background-position: center right;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.text{
    h1{
        font-size: 3.5rem;
        letter-spacing: 2px;
    }
    span{
        color: $main-color;
    }
    .p{
        margin: 0.5rem 0 1rem;
    }
}

.app-stores{
    width: 100px;
    margin-right: 1rem;
    cursor: pointer;
}

.form-container{
    form{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        position: absolute;
        bottom: 4rem;
        left: 100px;
        background: #fff;
        padding: 20px;
        border-radius: 1rem;
        .btn{
            flex: 1 1 7rem;
            padding: 10px  34px;
            border: none;
            border-radius: 0.5rem;
            background: #474fa0;
            color: #fff;
            &:hover{
                background: $main-color;
            }
        }
    }
}

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
    span{
        font-weight: 500;
    }
    input{
        padding: 7px;
        outline: none;
        border: none;
        background: #eeeff1;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
}