.heading{
    text-align: center;
    span{
        font-weight: 500;
        text-transform: uppercase;
    }
    h1{
        font-size: 2rem;
    }
}

$main-color: #fe5b3d;
$gradient: linear-gradient($main-color, $secondary-color);

.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
    .box{
        text-align: center;
        padding: 20px;
        .bx{
            font-size: 34px;
            padding: 5px;
            background: #eeeff1;
            border-radius: 0.5rem;
            color: $main-color;
            &:hover{
                background: $gradient;
                color: white;
            }
        }
        h2{
            font-size: 1.3rem;
            font-weight: 500;
            margin: 1rem 0 0.5rem ;

        }
    }
}
