* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fe5b3d;
}

section {
  padding: 50px 100px;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeff1;
  padding: 15px 100px;
}

.logo img {
  width: 40px;
}

.navbar {
  display: flex;
}
.navbar li {
  position: relative;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: #444;
  font-weight: 500;
}
.navbar a::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(#fe5b3d, #ffac38);
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

.header-btn a {
  padding: 10px 20px;
  color: #444;
  font-weight: 500;
}
.header-btn .sign-in {
  background: navy;
  color: white;
  border-radius: 0.5rem;
}
.header-btn .sign-in:hover {
  background: #fe5b3d;
}

.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: url(Car\ Website.png);
  background-repeat: no-repeat;
  background-position: center right;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.text h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}
.text span {
  color: #fe5b3d;
}
.text .p {
  margin: 0.5rem 0 1rem;
}

.app-stores {
  width: 100px;
  margin-right: 1rem;
  cursor: pointer;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 100px;
  background: #fff;
  padding: 20px;
  border-radius: 1rem;
}
.form-container form .btn {
  flex: 1 1 7rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: #474fa0;
  color: #fff;
}
.form-container form .btn:hover {
  background: #fe5b3d;
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}
.input-box span {
  font-weight: 500;
}
.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.heading {
  text-align: center;
}
.heading span {
  font-weight: 500;
  text-transform: uppercase;
}
.heading h1 {
  font-size: 2rem;
}

.ride-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.ride-container .box {
  text-align: center;
  padding: 20px;
}
.ride-container .box .bx {
  font-size: 34px;
  padding: 5px;
  background: #eeeff1;
  border-radius: 0.5rem;
  color: #fe5b3d;
}
.ride-container .box .bx:hover {
  background: linear-gradient(#fe5b3d, #ffac38);
  color: white;
}
.ride-container .box h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0 0.5rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.services-container .box p {
  padding: 0 10px;
  border: 1px solid #444;
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}
.services-container .box h3 {
  font-weight: 500;
}
.services-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fe5b3d;
}
.services-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: #444;
}
.services-container .box .btn {
  display: flex;
  justify-content: center;
  background: #473fa0;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
}
.services-container .box .btn:hover {
  background: #fe5b3d;
}
.services-container .box .box-img {
  width: 100%;
  height: 200px;
}
.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
}
.about-container .about-img img {
  width: 100%;
}
.about-container .about-text span {
  font-weight: 500px;
  color: #fe5b3d;
}
.about-container .about-text p {
  margin: 0.5rem 0 1.4rem;
}
.about-container .about-text .btn {
  padding: 10px 20px;
  background: #474fa0;
  color: #fff;
  border-radius: 0.5rem;
}
.about-container .about-text .btn:hover {
  background: #fe5b3d;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 2rem;
}
.reviews-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.reviews-container .box .stars .bx {
  color: #fe5b3d;
}
.reviews-container .box p {
  font-style: italic;
}
.reviews-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.5rem 0 0.5rem;
}

.rev-img {
  width: 70px;
  height: 70px;
}
.rev-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 2px solid #ffac38;
}/*# sourceMappingURL=style.css.map */